@page "/Login"
@layout CommonLayout
@inject HttpClient Http
@inject NavigationManager navigationManager
@using FG_Blazor_WASM.Shared.Model


<nav class="navbar navbar-expand-lg p-4 px-lg-5 ml-lg-5 mb-3">
    <a href="#" class="navbar-brand ml-5">
        <img src="/Images/fg_logo.png" class="ml-lg-5">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon float-left"></span>
    </button>
    <div @onclick="ToggleNavMenu" class="@NavMenuCssClass  navbar-collapse justify-content-start mr-3">

        <div class="  navbar-nav ml-auto action-buttons mr-5 pr-5">
            <a href="#" class="nav nav-item nav-link mr-4">FEATURES</a>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle mr-4">INDUSTRIES</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Web Design</a>
                    <a href="#" class="dropdown-item">Web Development</a>
                    <a href="#" class="dropdown-item">Graphic Design</a>
                    <a href="#" class="dropdown-item">Digital Marketing</a>
                </div>
            </div>
            <a href="#" class="nav-item nav-link mr-4 ">FAQS</a>
            <a href="#" class="nav-item nav-link mr-4">CONTACT <span class="ml-1">US</span> </a>
            <a href="@("Signup")" class="nav-item nav-link mr-4">SIGNUP</a>
            <div class="nav-item dropdown mr-5 ">
                <a href="#" class="btn text-white px-4" style="background-color:#113ca0;border-radius: 40px;">
                    LOGIN

                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container ">
    <!-- <div class="row " > -->
    <div class="row justify-content-center ">
        <div class="col-12 col-md-4 col-lg-4  p-4" style="background-color: #162647">
            <h5 class="text-white mt-3 text-decoration-underline">SIGN IN</h5>
            <EditForm Model="@user" OnInvalidSubmit="(()=>Submit(user))">
                <DataAnnotationsValidator />
                <label class="text-white" style="font-size: 17px;">Email</label><br />
                <InputText type="email" id="Email" class="w-100  my-1 p-1" @bind-Value="user.Email" />
                <ValidationMessage For="@(()=>user.Email)" />

                <label class="text-white mt-1" style="font-size: 17px;">Password</label>


                <InputText type="password" id="Password" class="w-100 my-1 p-1" @bind-Value="user.Password" >
                <i class="oi oi-eye"  style="margin-left: -30px; cursor: pointer;"></i></InputText>
                <ValidationMessage For="@(()=>user.Password)" />


                <div class="mt-2">
                    <input type="checkbox">
                    <label class="text-white mb-4">Remember Me</label>
                </div>

                <div class="mb-5">

                    <button type="button" class="btn py-2 px-2 " style="width: 49%; color: rgba(255, 255, 255, 0.5); border: 2px solid #2d3b58">Forgot Password?</button>

                    <button type="submit" class="btn  py-2 ml-1 text-white" style="width: 48%; background-color: #E36156; border: 2px solid #E36156 ">
                        Sign In <i class="fa fa-chevron-right"></i>
                    </button>

                </div>

            </EditForm>
        </div>

        <div class="col-12 col-md-4 col-lg-6  p-4 " style="background-color: #f2f5f8;width:">
            <h3 style="color:red;font-size:23px"> @message</h3>
            <h5 class="text-danger mt-3">NEED AN ACCOUNT?</h5>
            <p class="my-3" style="color: #162547; font-weight: 400; font-size: 17px; letter-spacing: 1px;">
                Create an account to start managing<br>
                your company. Click the "Create New Account"<br>
                button below to get started
            </p>

            <button type="submit" class="btn text-white" style="background-color:#162547" @onclick="Navigate">
                Create New Account
            </button>

        </div>
    </div>
</div>
<div class="row mt-5 ">
    <div class="col text-center ">
        <ul class="mini-links d-inline-flex  " style="list-style-type: none; display:block ">
            <li class="item">
                <a href="" style="color: #13254B; font-size: 14px; letter-spacing: 1px; font-weight: 600; ">FEATURES <span class="mx-3" style="color:gray;">|</span> </a>
            </li>
            <li class="item ">
                <a href="" style="color: #13254B; font-size: 14px; letter-spacing: 1px; font-weight: 600; ">FAQS <span class="mx-3" style="color:gray;">|</span> </a>
            </li>
            <li class="item ">
                <a href="" style="color: #13254B; font-size: 14px; letter-spacing: 1px; font-weight: 600; ">CONTACT US <span class="mx-3" style="color:gray;">|</span> </a>
            </li>
            <li class="item">
                <a href="" style="color: #13254B; font-size: 14px; letter-spacing: 1px; font-weight: 600; ">LOGIN <span class="mx-3" style="color:gray;">|</span> </a>
            </li>
            <li class="item ">
                <a href="" style="color: #13254B; font-size: 14px; letter-spacing: 1px; font-weight: 600; ">SIGN UP </a>
            </li>
        </ul>
    </div>
</div>
<div class="footer py-5 " style="background-color:#162547;">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-12 col-lg-6 mt-2 " style="font-size: 13px;
font-weight: 400; color: rgba(255, 255, 255, 0.5);">
            <img src="/Images/logo-footer (1).jpg">
            <div class="mt-3">Copyright © FieldGroove, LLC 2022. All Rights Reserved.</div>
            <div class="my-2">716 Newman Springs Road, Suite 307 Lincroft, NJ 07738</div>
            <div><a href="" class="text-danger">Privacy Policy</a></div>

        </div>
        <div class="col-12 col-lg-4  mt-5 " style="font-size: 13px;
font-weight: 400; color: rgba(255, 255, 255, 0.5);">
            <div class="mt-1">We would love to show you the power of FieldGroove.To setup</div>
            <div class="my-2">a demo or get an account setup, please contact us at</div>
            <a href="" class="text-danger ">sales@fieldgroove.com</a>
            or by phone at <a href="" class="text-danger">212-537-0218</a>

        </div>
    </div>
</div>
<style>
    body {
        padding: 0px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }

    .navbar a {
        display: block;
        font-size: 12px;
        color: #13254b;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    label {
        font-size: 16px
    }


    .navbar a,
    .navbar a:active {
        color: #162547;
    }

    .navbar-toggler-icon {
        background-color: rgb(7, 8, 8);
    }
</style>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public string message { get; set; }

    public List<User> Users { get; set; } = new List<User>();

    User user = new User();

    protected void Navigate()
    {
        navigationManager.NavigateTo("SignUp");
    }
    protected override void OnInitialized()
    {
        Users = new List<User>();
        base.OnInitialized();
    }
    private async Task<bool> Submit(User login)
    {

        var result = await Http.PostAsJsonAsync("api/Login", login);
        if (result.IsSuccessStatusCode == false)
        {
            message = "Login Failed.....!";

        }
        else
        {
            navigationManager.NavigateTo("Leads");
        }
        return await Task.FromResult(true);
    }

}

